LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="SECRET_KEY"
LANGSMITH_PROJECT="Learning RAG"

ANTHROPIC_API_KEY="SECRET_KEY"
LANGFUSE_SECRET_KEY="SECRET_KEY"
LANGFUSE_PUBLIC_KEY="SECRET_KEY"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
OLLAMA_HOST="http://localhost:11434"
